<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Mouse on Numpad</vendor>
  <vendor_url>https://github.com/Stonelukas/mouse-on-numpad</vendor_url>

  <action id="com.github.mouse-on-numpad.access-input">
    <description>Access input devices</description>
    <message>Mouse on Numpad needs access to input devices to capture numpad keys</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_self_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
